<!DOCTYPE html>
<html lang="en">

<head>
	<meta charaset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Debit Card </title>
	<link rel="stylesheet" href="main.css" />
	<link rel="stylesheet" href="debit_card.css" />
</head>

<body>
	<a id="link_to_go_back" href="login">Dash Board</a>
	<h1>Debit Card</h1>
	<p>Your debit card was automate generated. Visit to ATM and generate the PIN.</p>
	<a href="atm">ATM</a>
	<div id="card_body_div">
		<div id="card_body">
			<div id="ring">
				<div id="ring-5"></div>
			</div>
			<div id="ring-1"></div>
			<div id="ring-2"></div>
			<div id="ring-3">
				<div id="ring-6"></div>
			</div>
			<div id="ring-4"></div>
			<div id="ring-7">
				<div id="ring-8"></div>
			</div>
			<div id="ring-9">
				<div id="ring-10"></div>
			</div>

			<div id="chip"></div>
			<h1 id="bank_title">Fake Bank</h1>
			<h4 id="card_type">Debit Card</h4>
			<h6 id="made_date">made: 01/25</h6>
			<h6 id="expiry_date">expiry: 01/25</h6>
			<h3 id="random_number-1"></h3>
			<h3 id="random_number-2"></h3>
			<h3 id="random_number-3"></h3>
			<h3 id="random_number-4"></h3>
		</div>
	</div>
	<script type="module">
		import { debit_card_generate } from "./debit_card_generate_number.js";
		let random_number_1 = document.getElementById("random_number-1");
		let random_number_2 = document.getElementById("random_number-2");
		let random_number_3 = document.getElementById("random_number-3");
		let random_number_4 = document.getElementById("random_number-4");
		debit_card_generate(random_number_1, random_number_2, random_number_3, random_number_4);
	</script>
</body>

</html>