#card_body {
	width: 85.6mm;
	height: 53.98mm;
	border: 1px solid rgb(206, 206, 206);
	border-radius: 3.18mm;
	position: relative;
	overflow: hidden;
	background-color: #000;
	color: #fff;
	box-shadow: 1px 1px 5px 1px black;
}

#card_body_div {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#chip {
	width: 15mm;
	height: 12mm;
	border: 1px solid white;
	border-radius: 2.18mm;
	position: absolute;
	left: 40px;
	top: 65px;
	background-image: url("https://bms-1-txum.onrender.com/chip.jpg");
	background-size: 112px;
	background-position: center;
}

#bank_title {
	position: absolute;
	right: 10px;
	top: 10px;
}

#card_type {
	position: absolute;
	left: 10px;
	top: 10px;
}

#made_date {
	position: absolute;
	bottom: 10px;
	left: 20px;
}

#expiry_date {
	position: absolute;
	bottom: 10px;
	left: 100px
}

#random_number-1 {
	position: absolute;
	bottom: 45px;
	left: 50px;
	color: black;
}

#random_number-2 {
	position: absolute;
	bottom: 45px;
	left: 100px;
}

#random_number-3 {
	position: absolute;
	bottom: 45px;
	left: 150px;
}

#random_number-4 {
	position: absolute;
	bottom: 45px;
	left: 200px;
}

#ring {
	width: 150px;
	height: 150px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 21%;
	right: -75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#ring-1 {
	width: 70px;
	height: 70px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: -30%;
	right: 10%;
}

#ring-2 {
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 57%;
	right: 70%;
}

#ring-3 {
	width: 67px;
	height: 67px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 33%;
	right: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#ring-4 {
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 96%;
	right: 30%;
}

#ring-5 {
	width: 135px;
	height: 135px;
	background-color: black;
	border-radius: 50%;
}

#ring-6 {
	width: 57px;
	height: 57px;
	background-color: black;
	border-radius: 50%;
}

#ring-7 {
	width: 87px;
	height: 87px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 15%;
	left: -10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#ring-8 {
	width: 77px;
	height: 77px;
	background-color: black;
	border-radius: 50%;
}

#ring-9 {
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	bottom: -7px;
	left: -7px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#ring-10 {
	width: 14px;
	height: 14px;
	background-color: black;
	border-radius: 50%;
}