<!DOCTYPE html>
<html lang="en">

<head>
	<meta charaset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> generator</title>
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="generator.css">
</head>

<body>
	<h1> generator</h1>
	<div id="copy_ac">
		<h4 id="a">NEW ACCOUNT NO: <span id="ac"></span></h4>
		<button id="ac_btn">Copy</button>
	</div>
	<div id="copy_password">
		<h4>NEW PASSWORD: <span id="password"></span></h4>
		<button id="password_btn">Copy</button>
	</div>
	<p>Yours Account number & password generated. save it safely!. go to login and login the system see your dashboard.
	</p>
	<a href="login">Login</a>

	<script type="module" src="generator.js"></script>
</body>

</html>