@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}